<div id="title">
  <h2>My Heroes</h2>
  <i
    class="fa-solid fa-user-plus fa-lg"
    routerLink="new"
    [queryParams]="{ length: this.heroes.length }"
  ></i>
</div>
<div>
  <app-search [label]="'Search'" (selected)="onSelect($event)"></app-search>
</div>
<div class="card">
  <table class="heroes">
    <tr>
      <th>Id.</th>
      <th>Name</th>
    </tr>

    <tr *ngFor="let h of heroes" [routerLink]="[h.id]" class="heroes row">
      <td>{{ h.id }}</td>
      <td>{{ h.name }}</td>
    </tr>
  </table>
</div>
