body{
  margin: 0px;
  background-color: rgb(240, 240, 240);
}

.card{
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 3px rgb(201, 201, 201);
}
